In [1]:
import pandas as pd
import psutil
import os

In [26]:
py = psutil.Process(os.getpid())
print('RAM usage: {} GB'.format(py.memory_info()[0]/2. ** 30))

RAM usage: 3.515289306640625 GB

In [ ]:
# I am running the LATEST SMALL files for build week

In [3]:
movie = pd.read_csv('Movie Ratings/ml-latest-small/movies.csv')
movie.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
# latest small does not have a file for g-scores.
g_scores = pd.read_csv('Movie Ratings/ml-20m/genome-scores.csv')
g_scores.head()

   movieId  tagId  relevance
0        1      1    0.02500
1        1      2    0.02500
2        1      3    0.05775
3        1      4    0.09675
4        1      5    0.14675

In [23]:
g_scores = g_scores.drop(columns='tagId')

In [5]:
# latest small does not have a file for g_tags
g_tags = pd.read_csv('Movie Ratings/ml-20m/genome-tags.csv')
g_tags.head()

   tagId           tag
0      1           007
1      2  007 (series)
2      3  18th century
3      4         1920s
4      5         1930s

In [6]:
links = pd.read_csv('Movie Ratings/ml-latest-small/links.csv')
links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [7]:
ratings = pd.read_csv('Movie Ratings/ml-latest-small/ratings.csv')
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [15]:
ratings['movieId'].value_counts()

356       329
318       317
296       307
593       279
2571      278
260       251
480       238
110       237
589       224
527       220
2959      218
1         215
1196      211
2858      204
50        204
47        203
780       202
150       201
1198      200
4993      198
1210      196
858       192
457       190
592       189
5952      188
2028      188
7153      185
588       183
608       181
2762      179
         ...
4451        1
31086       1
62718       1
188797      1
31150       1
33201       1
94735       1
80454       1
94799       1
2656        1
26732       1
8293        1
65601       1
6178        1
7459        1
179511      1
5602        1
128542      1
44597       1
7843        1
42740       1
1824        1
5922        1
153386      1
57147       1
5986        1
100304      1
34800       1
83976       1
8196        1
Name: movieId, Length: 9724, dtype: int64

In [8]:
tags = pd.read_csv('Movie Ratings/ml-latest-small/tags.csv')
tags.head()

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

In [7]:
movie.shape, ratings.shape, links.shape, tags.shape

((9742, 3), (100836, 4), (9742, 3), (3683, 4))

In [9]:
a = pd.merge(movie, ratings, on='movieId')
# a.head()

In [10]:
b = pd.merge(links, tags, on='movieId')
# b.head()

In [11]:
c = pd.merge(a, b, on='movieId')

In [12]:
d = pd.merge(c, g_tags, on='tag')
d.head()

,movieId,title,genres,userId_x,rating,timestamp_x,imdbId,tmdbId,userId_y,tag,timestamp_y,tagId
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703,114709,862.0,336,pixar,1139045764,785
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703,114709,862.0,474,pixar,1137206825,785
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962,114709,862.0,336,pixar,1139045764,785
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962,114709,862.0,474,pixar,1137206825,785
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946,114709,862.0,336,pixar,1139045764,785

In [21]:
d = d.drop(columns='tagId')

(137704, 11)

In [13]:
d.shape

(137704, 12)

In [25]:
final = pd.merge(d, g_scores, on='movieId')
final.head()

MemoryError: